.article-show
	padding: 20px 0
	margin-top: 25px
	position: relative
	.article-column
		.title-mobile
			display: none
	.article-images
		max-width: 100%
		width: 100%
		padding-left: 50px
		overflow: hidden
		ul li
			margin-bottom: 20px
			img
				width: 100%
				max-width: 100%
	.article-images-mobile
		display: none
		ul li img
			max-width: 100%
	.article-details
		padding: 20px
		padding-top: 0
		position: relative
		.details-container
			.before-title
				margin-bottom: 20px
			.title
				margin: 0
				margin-bottom: 20px
				font-family: $font1
			.code
				font-size: .8rem
			.price
				margin-top: 20px
				font-size: 1.5rem
				font-weight: 300
				.original-price
					font-size: 1rem
					font-weight: 300
					color: #a2a2a2
			.item
				max-width: 550px
			.description
				margin-top: 10px
				max-width: 550px
			.attributes
				label
					font-family: $font1
					font-size: 0.9rem
					font-weight: 400
					margin-right: 5px
					padding: 10px 18px
			.input-with-btn
				.short-input
					border: 1px solid $main-color
					border-right: 0
				.input-btn
					border: 1px solid $main-color
					border-left: 0
			.action-info-container
				padding: 10px 16px
				font-size: 1rem
			
@media (min-width: 1400px)
	.article-show
		.article-images
			padding-left: 200px

@media (max-width: 768px)
	.article-show
		.article-images
			padding-left: 0
		.article-column
			.title-desktop
				display: none
			.title-mobile
				text-align: center
				display: block


.images-carousel
	position: relative
	.owl-nav
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		.owl-prev, .owl-next
			position: absolute
			color: inherit
			background: none
			border: none
			z-index: 100
		.owl-prev i, .owl-next i
			font-size: 2.5rem
			color: #cecece
		.owl-prev
			left: 0
			&:before
				content: ' ' !important
		.owl-next
			right: 0
			font-size: 2rem
			&:before
				content: ' ' !important